---
import DarkToggle from './DarkToggle.astro'

// import DarkToggle from './DarkToggle.svelte'
const { pathname } = Astro.url

// Navigation menu
const navigation: Array<{
    name: string
    path: string
}> = [
    {
        name: 'Home',
        path: '/',
    },
    {
        name: 'Projects',
        path: '/projects',
    },
]
---

<nav class='sticky top-0 z-10 bg-white/50 opacity-90 backdrop-blur-xl transition-shadow ease-in-out dark:bg-zinc-800'>
    <div class='container mx-auto flex h-16 items-center justify-between px-4 lg:container'>
        <!-- MOBILE ONLY: Navbar menu toggle -->
        <button id='menu-btn' class='block text-4xl lg:hidden'>
            <i class='bi bi-list'></i>
        </button>

        <a href='/' class='flex items-center'>
            <h1 class='ml-2 justify-between text-2xl tracking-wider'>다 위 치</h1>
        </a>

        <!-- DESKTOP MENU -->
        <ul class='hidden flex-row justify-between space-x-4 px-4 font-bold tracking-widest lg:flex xl:space-x-8'>
            {
                navigation.map(item => (
                    <a href={item.path} class={`block rounded-md px-3 py-2 ${item.path === pathname ? 'bg-teal-500 text-white' : 'hover:text-teal-400'}`}>
                        {item.name}
                    </a>
                ))
            }
            <a href='https://blog.dawichi.dev' target='_blank' rel='noreferrer' class='flex items-center justify-center gap-2 rounded-md px-3 py-2 font-bold'>
                Blog <i class='bi bi-arrow-up-right'></i>
            </a>
        </ul>

        <DarkToggle />
    </div>

    <!-- MOBILE ONLY: Navbar menu -->
    <div id='menu-list' class='block h-0 overflow-hidden transition lg:hidden'>
        <ul class='flex flex-col items-start p-4 font-bold tracking-widest'>
            {
                navigation.map(item => (
                    <a href={item.path} class={`block rounded-md px-3 py-2 ${item.path === pathname ? 'bg-teal-500 text-white' : 'hover:text-teal-400'}`}>
                        {item.name}
                    </a>
                ))
            }
            <a href='https://blog.dawichi.dev' target='_blank' rel='noreferrer' class='flex items-center justify-center gap-2 rounded-md px-3 py-2 font-bold'>
                Blog <i class='bi bi-arrow-up-right'></i>
            </a>
        </ul>
    </div>
</nav>

<style>
    .transition,
    ul,
    a {
        transition: height 0.2s ease-in-out;
    }
</style>

<script is:inline>
    const menuBtn = document.getElementById('menu-btn')
    const menuList = document.getElementById('menu-list')

    menuBtn.addEventListener('click', () => {
        menuList.classList.toggle('h-36')
        menuList.classList.toggle('h-0')
        menuList.classList.toggle('border-t')
        menuList.classList.toggle('shadow-xl')
    })
</script>
