.footer {
	border-top: 1px solid #bbb;
	color: var(--text);
	.buymeacoffee {
		padding-top: 15px;
		text-align:center;
		
		img {
			border-radius: 11px;
			box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
		}
	}

	.row {
		text-align: center;
		padding-top: 15px;	
		margin-bottom: 20px;

		.js {
			background-color: #e6c700;
			border-radius: 4px;
			color: black;
			display: inline-block;
			padding: 0 5px;
			transform: rotate(-3deg);
		}
		.love {
			color: rgb(255, 66, 66);
			font-size: 20px;
		}
	}
}