@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html, body {
	padding: 0;
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}

a {
	color: #0070f3;
	text-decoration: none;

	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}

* {
	box-sizing: border-box;
}

body[data-theme="light"] {
	--navbar: #fafbfcdd;
	--text: #121212;
	--primary: #6200ee;
	--secondary: #41c7c7;
}
body[data-theme="dark"] {
	--navbar: #fafbfcdd;
	--text: red;
	--secondary: #41c7c7;
}


.code {
	background: #eee;
	color: var(--primary);
	border-radius: 5px;
	padding: .3rem;
	font-size: 1.1rem;
}
.code.js { color: #e4c900;}
.code.py { color: #3571a5;}
.code.re { color: #5eccee;}
  