.landing {
	position: relative;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--text);
	
	h1 {
		text-align: center;
		transform: translateY(-30%);
		z-index: 2;

		span { font-family: 'Rubik'; display: inline-block; }

		a {
			color: var(--text);
			margin: 10px;
			text-decoration: none;
			
			i:hover { color: var(--secondary); }
		}
	}

	/* Arrow bottom */
	.arrow {
		display: flex;
		justify-content: center;
		align-items: flex-end;

		svg {
			fill: var(--text);
			animation: bounce 4s infinite;  			
		}

		@keyframes bounce {
			0% { transform: translateY(0px); animation-timing-function: ease-in-out; }
			50% { transform: translateY(80px); animation-timing-function: ease-in-out; }
		}
	}
	@media screen and (max-width: 500px) { .arrow { display: none; } }


	/* SVG Art */
	.svgs {
		margin: 0 1vw;
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.webDev, .appDev { width: 25%;}

		@media screen and (max-width: 1200px) {
			.webDev {transform: translateY(-35vh);}
			.appDev {transform: translateY(22vh);}
		}
		@media screen and (max-width: 900px) {
			.webDev, .appDev { width: 30%;}
		}
		@media screen and (max-width: 900px) {
			.webDev, .appDev { width: 35%;}
			.webDev {transform: translateY(-36vh);}
		}
	}
}