.container {
	background-color: var(--color-container);
	padding: 15px;
	text-align: center;
	width: auto;

	hr {
		background-image: linear-gradient(to right, #ff6b6b, #ff5581, #f8449c, #e440ba, #c04ada, #9172f6, #588eff, #00a2ff, #00c3ff, #00def0, #00f2b9, #7cff76);
		border-radius: 5px; height: 3px; width: 60%;
		opacity: 1;
		margin: 0 auto;
	}

	button {margin: 20px auto;}

	a {
		color: white;
		display: block;
		text-decoration: none;

		img {
			width: 100%;
			margin: 15px 0;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	
			&:hover {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
				transform: scale(1.03, 1.03);
				transition-duration: 0.5s;
			}
		}
	}

		
}